@model SoftwareProduct
@{
    ViewData["Title"] = "Product Page";
}

<section id="main-content">
    <div id="header">
        <img src="@Model.ImageBase64" alt="@Model.Name Logo" id="product-image" title="@Model.Name Logo">
        <div id="product-title-and-vendor">
            <h1 id="product-title">@Model.Name</h1>
            <span id="product-vendor">
                <i>@Model.Vendor</i>
            </span>
        </div>
        <a href="#" id="go-to-website">Get Product</a>
    </div>
    <div id="main">
        <div id="bi-divs">
            <div id="left-content">
                <div id="professions">
                    @foreach(string profession in Model.Professions) 
                    {
                        <span class="profession">@profession</span>
                    }
                </div>
                <div id="project-stages">
                    @foreach (string projectStage in Model.ProjectStages)
                    {
                        <span class="project-stage">@projectStage</span>
                    }
                </div>
                <div id="product-desc">
                    <div id="desc">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <button onclick="showMore()" id="show-more">SHOW MORE</button>
                </div>
            </div>
            <div id="right-content">
                <div id="bookmark">
                    <button>
                        <i class="fa-regular fa-bookmark"></i>
                    </button>
                    <span>Bookmark</span>
                </div>

                @{
                    int totalRatings = 0;

                    foreach (var rating in Model.Ratings) 
                    {
                        totalRatings += rating.RatingValue;
                    }


                    double rate = totalRatings == 0 || Model.Ratings.Count == 0 ? 0 : totalRatings / Model.Ratings.Count;

                    int unColoredStars = 5 - Convert.ToInt32(rate);
                }
                <div id="rate">
                    <i class="fa-solid fa-star"></i>
                    <div id="rating">
                        <span>Rating: @rate</span>
                        <div id="stars">
                            @for (int i = 0; i < (5 - unColoredStars); i++) 
                            {
                                <i class="fa-solid fa-star"></i>
                            }

                            @for (int i = 0; i < unColoredStars; i++)
                            {
                                <i class="fa-regular fa-star"></i>
                            }
                        </div>
                    </div>
                </div>
                <div id="features">
                    <span>Features</span>
                    @foreach (var feature in Model.Features)
                    {
                        <div class="feature">
                            <span>@feature.Title</span>
                            <p>@feature.Description</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="leave-a-review">
            <h2>LEAVE A REVIEW</h2>
            <form action="#" method="post">
                <div class="review-input">
                    <label for="review-title">REVIEW TITLE</label>
                    <input id="review-title" type="text" name="review-title" required>
                </div>
                <div class="review-input">
                    <label for="rating">RATING</label>
                    <div id="rating-stars">
                        <i class="fa-regular fa-star star" data-target="1-star"></i>
                        <i class="fa-regular fa-star star" data-target="2-star"></i>
                        <i class="fa-regular fa-star star" data-target="3-star"></i>
                        <i class="fa-regular fa-star star" data-target="4-star"></i>
                        <i class="fa-regular fa-star star" data-target="5-star"></i>
                    </div>
                    <div id="rating-input">
                        <input id="1-star" type="radio" name="rating" value="1" required>
                        <input id="2-star" type="radio" name="rating" value="2" required>
                        <input id="3-star" type="radio" name="rating" value="3" required>
                        <input id="4-star" type="radio" name="rating" value="4" required>
                        <input id="5-star" type="radio" name="rating" value="5" required>
                    </div>
                </div>
                <div class="review-input">
                    <label id="content-label" for="review-content">REVIEW CONTENT</label>
                    <textarea id="review-content" name="review-content" required></textarea>
                </div>
                <button id="submit-btn" type="submit">Submit Review</button>
            </form>
        </div>
        <div id="reviews">
            <h2>REVIEWS</h2>
            @foreach (var rating2 in Model.Ratings)
            {
                if (rating2.Review is not null) 
                {
                    <div class="review">
                        <h5>Review Title</h5>
                        <div class="review-rating">
                            @for (int i = 0; i < rating2.RatingValue; i++)
                            {
                                <i class="fa-solid fa-star"></i>
                            }

                            @for (int i = 0; i < (5 - rating2.RatingValue); i++)
                            {
                                <i class="fa-regular fa-star"></i>
                            }
                        </div>
                        <div class="reviewer">
                            <span>
                                <strong>By:</strong>
                                <i>@rating2.User!.Name @rating2.User.Surname</i>
                            </span>
                            <span>@rating2.Review.ReviewTime</span>
                        </div>
                        <p class="review-content">
                            @rating2.Review.ReviewText
                        </p>
                        <button class="show-more">SHOW MORE</button>
                    </div>
                }
            }
        </div>
    </div>
</section>

<script src="/js/public pages js/product.js"></script>